<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab4_SebastianSilva"
        tools:targetApi="31">
        <activity
            android:name=".view.UpdateInfoActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.Lab4_SebastianSilva"/>
        <activity
            android:name=".view.TestInfoActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.Lab4_SebastianSilva"/>
        <activity
            android:name=".view.TestActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.Lab4_SebastianSilva"/>
        <activity
            android:name=".view.PatientActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.Lab4_SebastianSilva"/>
        <activity
            android:name=".view.NurseLoginActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Lab4_SebastianSilva">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Lab4_SebastianSilva" />
    </application>

</manifest>